*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: rgb(165, 212, 248);
}
input{
    font:inherit;
}
section{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
form{
    margin: auto;
}
form > div {
    display: flex;
    background: rgb(73, 78, 216);
    padding: 9px 22px 9px 26px;
    border-radius: 30px;
    border: 2px solid #cad3cd;
    box-shadow: rgbt ;
}